#saveitem{
    margin-left: 28px;
}
.admin__fieldset > .admin__field > .admin__field-control {
float: left;
margin-left: 30px;
margin-top: 18px;
width: 291px !important;
}
.admin__field:not(.admin__field-option) > .admin__field-label {
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1.4rem;
font-weight: 600;
line-height: 5.2rem;
padding: 0;
white-space: nowrap;
word-wrap: break-word;
}
._required > .admin__field-label span::after {
 color: #eb5202;
 content: "*";
 display: inline-block;
 font-size: 1.6rem;
 font-weight: 500;
 line-height: 2;
 margin-left: 10px;
 position: absolute;
 top: 1.2rem;
 z-index: 1;
}

a:hover {
    text-decoration: none;
}
table#mytable {
    margin-left: 225px;
    margin-top: -32px !important;
}
table#mytable td{
  padding: 4px 0px;
  white-space: nowrap;
}
a.buttons-delete{
  background: transparent url("../images/remove.png") no-repeat scroll center center;
  display: inline-block;
  overflow: hidden;
  text-indent: 999px;
  width: 18px;
  vertical-align: bottom;
  float: right;
  height: 20px;
  margin-left: 14px;
}
.addchildren{
  padding-bottom: 4px;
  width: 44px;
  padding-left: 8px;
  float: right;
  margin-top: 0px;
  margin-right: -32px;
  width: 44px;
}
.position{
  width: 32px;
  height: 20px;
  text-align: center;
}
.wrap-position{
    padding-left: 7px;
    position: relative;
    width: 104px;
}
.wrap-position label.mage-error{
    position: absolute;
    white-space: nowrap;
    padding: 3px 5px;
    font-size: 12px;
    left: 150px;
    top: 0px;
    width: 110px;
}
fieldset#base_fieldset {
    float: left;
    width: 650px;
}
